/* nav */
#nav {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: flex-end;
	background: #eee;
	/* color: #f5f6fa; */
	margin-bottom: 5px;
}

/* login */
#nav #login {
	display: flex;
	margin-right: 10px;
}

#nav #login #loginBtn {
	height: 38px;
}

#nav #login #loginBtn img {
	height: 38px;
	cursor: pointer;
}

/* logout */
#nav #logout {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

#nav #logout p {
	margin: 0;
	margin-right: 10px;
}

#nav #logout #logoutBtn {
	height: 38px;
}

#nav #logout #logoutBtn img {
	height: 38px;
	cursor: pointer;
}
