#nav {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	background: #353b48;
	color: #f5f6fa;
	margin-bottom: 5px;
}

#nav #logout {
	display: flex;
	flex-direction: row-reverse;
}

.loginBtn {
	height: 38px;
}

.loginBtn img {
	height: 38px;
	cursor: pointer;
}

.logoutBtn {
	height: 38px;
}

.logoutBtn img {
	height: 38px;
	cursor: pointer;
}
