/* nav */
#nav {
	/* position: sticky;
	top: 0; */
	display: flex;
	width: 100%;
	height: 90px;
	align-items: center;
	justify-content: center;
	background: white;
	color: black;
	/* color: #f5f6fa; */
	/* margin-bottom: 5px; */
	border-bottom: #eee solid 1px;
}

/* login */
#nav #logo {
	font-size: 24px;
	font-weight: bold;
}
#nav #login {
	position: absolute;
	right: 0;
	margin-right: 10px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

#nav #login #loginBtn {
	height: 38px;
}

#nav #login #loginBtn img {
	height: 38px;
	cursor: pointer;
}

/* logout */
#nav #logout {
	position: absolute;
	right: 0;
	margin-right: 10px;
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
}

#nav #logout p {
	margin: 0;
	margin-right: 10px;
}

#nav #logout #logoutBtn {
	height: 38px;
}

#nav #logout #logoutBtn img {
	height: 38px;
	cursor: pointer;
}
