#app {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	/* background: #2d3436; */
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

button {
	cursor: pointer;
	outline: none;
}
